<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                <h4 class="modal-title" id="myModalLabel">
                    添加图标
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-camera-retro fa-5x" (click)="selectIcon($event)" ></i>
                        <i class="fa fa-spinner fa-spin fa-5x" ></i>
                        <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
                        <i class="fa fa-refresh fa-spin fa-5x"></i>
                        <i class="fa fa-cog fa-spin fa-5x"></i>
                        <i class="fa fa-spinner fa-pulse fa-5x"></i>
                        <i class="fa fa-shield fa-5x"></i> 
                        <i class="fa fa-shield fa-rotate-90 fa-5x"></i> 
                        <i class="fa fa-shield fa-rotate-180 fa-5x"></i> 
                        <i class="fa fa-shield fa-rotate-270 fa-5x"></i> 
                        <i class="fa fa-shield fa-flip-horizontal fa-5x"></i> 
                        <i class="fa fa-shield fa-flip-vertical fa-5x"></i> 
                    </div>
                    <div class="col-xs-4">
                        
<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#icon-size" data-toggle="tab">
			图标大小
		</a>
	</li>
	<li><a href="#rotatable" data-toggle="tab">旋转</a></li>
	
</ul>
<div  class="tab-content">
	<div class="tab-pane fade in active" id="icon-size">
            <a class="btn btn-default" (click)="setPreviewIconStyle({key:'size',value:'fa-5x'})">大图标</a>
            <a class="btn btn-default" (click)="setPreviewIconStyle({key:'size',value:'fa-lg'})">小图标</a>
	</div>
	<div class="tab-pane fade" id="rotatable">
		<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple 
			TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
	</div>
	
</div>

                        
                    </div>
                    <div class="col-xs-4">
                        <i ></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>