<div class="container">
   <h3 class="model-title"> <strong> 产品列表 </strong> </h3>
    <h4 class="model-title2">-- ProductList --</h4>
    <div class="line productList">
        <div class="col-sm-3">
              <h1 ><img src="http://img3.3lian.com/2013/v11/91/d/41.jpg" class="img-responsive center-block"></h1>
             <p>大数据，提供可视化开发界面、离线任务调度运维、快速数据集成、多
                 人协同工作等功能，为您提供一个高效、安全的离线数据开发环境。并
                 且拥有强大的Open API为数据应用开发者提供良好的再创作生态。</p>
         </div>
        <div class="col-sm-3">
            <h1 ><img src="http://img3.3lian.com/2013/v11/91/d/41.jpg" class="img-responsive center-block"></h1>
            <p>大数据，提供可视化开发界面、离线任务调度运维、快速数据集成、多
                人协同工作等功能，为您提供一个高效、安全的离线数据开发环境。并
                且拥有强大的Open API为数据应用开发者提供良好的再创作生态。</p>
        </div>
        <div class="col-sm-3">
            <h1 ><img src="http://img3.3lian.com/2013/v11/91/d/41.jpg" class="img-responsive center-block"></h1>
            <p>大数据，提供可视化开发界面、离线任务调度运维、快速数据集成、多
                人协同工作等功能，为您提供一个高效、安全的离线数据开发环境。并
                且拥有强大的Open API为数据应用开发者提供良好的再创作生态。</p>
        </div>
        <div class="col-sm-3">
            <h1 ><img src="http://img3.3lian.com/2013/v11/91/d/41.jpg" class="img-responsive center-block"></h1>
            <p>大数据，提供可视化开发界面、离线任务调度运维、快速数据集成、多
                人协同工作等功能，为您提供一个高效、安全的离线数据开发环境。并
                且拥有强大的Open API为数据应用开发者提供良好的再创作生态。</p>
        </div>

    </div>

</div>