
.model-title{ text-align: center;color: #000;font-size: 32px; margin-top: 20px;}
.model-title2{ text-align: center;color: #666; font-size: 26px;margin-bottom: 20px;}
.productList{ margin: 6px auto;}
.productList>div{min-height: 386px; margin-bottom: 20px}
.productList>div img{ display: block;}
.productList>div>p{ text-align: justify; padding: 10px;}