<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                <h4 class="modal-title" id="myModalLabel">
                    添加容器
                </h4>
            </div>
            <div class="modal-body">

                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#border" data-toggle="tab">
            边框
        </a>
                    </li>
                    <li><a href="#rectangle" data-toggle="tab">矩形</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="border">
                    </div>
                    <div class="tab-pane fade" id="rectangle">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="rectangle-1" (click)="selectRectangle('rectangle-1')"></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div id="preview"></div>
                        </div>

                        <div class="btn btn-primary" (click)="addRectangle()" data-dismiss="modal">添加</div><div class="btn btn-default" data-dismiss="modal">关闭</div>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
               
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>