<!-- 模态框（Modal） -->
<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" >
					添加轮播组
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-3">
					添加图片<input type="file" #addImageInput  (change)="addSrc(addImageInput)" >
					</div>
					<div class="col-xs-9">

<div class="row">
    <div *ngFor="let carouselImage of carousel.carouselImages" class="col-sm-6 col-md-3">
        <a  class="thumbnail" >
            <img src="{{carouselImage}}"
                 alt="通用的占位符缩略图">
        </a>
    </div>

</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addCarousel()">
					 添加
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>