button.active{
    background-color: red;
}

.clickBlue{
    background-color: blue;
}

.isEdit{
    border:1px #5bc0de dashed;

}

.hide{
    display: none;
}

*{

}
.top-logo{
    padding: 20px 0;
    display: block;
}
.top-nav{
    display: block;
    margin: 30px  ;
}