


<!-- 模态框（Modal） -->
<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
				添加文字
				</h4>
			</div>
			<div class="modal-body" style="margin-bottom: 26px;">
                <ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#myImage" data-toggle="tab">我的图片</a></li>
	<li><a href="#platformImage" data-toggle="tab">平台图片</a></li>
  <li><a href="#editImage" data-toggle="tab">图片编辑</a></li>
  <li><a href="#imageSetting" data-toggle="tab">图片设置</a></li>
</ul>

<div id="myTabContent" class="tab-content">

	<div class="tab-pane fade in active" id="myImage">
		<div class="row">
			<div class="col-xs-6">
	选择图片<input type="file" (change)="selectImage(imageInput)" #imageInput accept="image/*">
			</div>
			<div class="col-xs-6">
	<img class="preview" hidden>
			</div>
		</div>


<a class="btn btn-success" (click)="addMyImage()">添加</a><a class="btn btn-primary">取消</a>
	</div>
	<div class="tab-pane fade" id="platformImage">
		
	</div>

	<div class="tab-pane fade" id="editImage">
	
	<div class="tab-pane fade" id="imageSetting">
		
	</div>
</div>

			</div>
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
