<section id="wqdpageLeft"  *ngIf="isEdit">
	<div id="wqdpLeftD" *click-refersh>

		<div >
			添加部件<a class="btn btn-primary pull-right" role="button" data-toggle="collapse" href="#wqdpageLeft" aria-expanded="false"
				aria-controls="collapseExample">x
</a>

		</div>

		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
			aria-controls="collapseExample">
  文字
</button>
		<div class="panel-collapse collapse in" id="collapseExample">
			<div class="well">
				<ul>
					<li my-drag (onMyDragStop)="dropPart($evnent)" *ngFor="let part of optionGroups">{{part.part}}</li>
				</ul>
			</div>
		</div>
	</div>

</section>