
<sidebar></sidebar>
<my-nav [nav]="nav"></my-nav>
<ul>
    <li *ngFor="let part of page.parts">
        <div [ngSwitch]="part.part">
            <my-icon *ngSwitchCase="'my-icon'" [myIcon]="part"></my-icon>
            <my-button *ngSwitchCase="'my-button'" [myButton]="part"></my-button>
            <my-image *ngSwitchCase="'my-image'" [myImage]="part"></my-image>
            <my-input *ngSwitchCase="'input'" [myInput]="part"></my-input>
            <banner *ngSwitchCase="'banner'" [banner]="part"></banner>
            <showcase *ngSwitchCase=" 'showcase' " [showcase]="part"></showcase>
            <dynamic *ngSwitchCase="'dynamic'" [dynamic]="part"></dynamic>
        </div>

    </li>
</ul>