<button class="btn btn-danger" *ngIf="isEdit"  (click)="editBanner.show()" >编辑</button>
<button class="btn btn-danger" (click)="editBanner.show()">show</button>
<button class="btn btn-danger" (click)="editBanner.hide()">hide</button>

<!--编辑banner模态框-->
<div bsModal #editBanner="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" (onHide)="hideModel()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="editBanner.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">编辑Banner</h4>
            </div>

            <!--tabs选项卡-->
            <div class="modal-body">
                <tabset>
                    <tab heading="新增图片">
                        图片名称:<input type="text" #imageNameInput>
                        图片链接:<input type="text" #imageUrlInput>
                        <button class="btn btn-primary" (click)="addOneSlide({image:imageUrlInput.value,text:imageNameInput.value});editBanner.hide()">保存</button><button (click)="editBanner.hide()">取消</button>
                    </tab>
                    <tab heading="编辑图片">
                       <table class="table-striped">
                          <tr><th>图片名称</th><th>图片链接</th><th>图片操作</th></tr>
                          <tbody *ngFor="let slide of slides">
                               <tr>
                                   <td>{{slide.text}}</td>
                                   <td>{{slide.image}}</td>
                                   <td><button class="btn btn-default" (click)="deleteOneSlide(slide)">删除</button>/<button (click)="setCurrentEditMenu(slide);editImage.show()">编辑</button></td>
                               </tr>
                           </tbody>
                       </table>
                    </tab>
                </tabset>
            </div>
            <!--tabs选项卡-->

        </div>
    </div>
</div>
<!--编辑banner模态框-->




<!--编辑图片模态框-->
<div  bsModal #editImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="editImage.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">编辑图片</h4>
            </div>
            <div class="modal-body" *ngIf="currentEditImage">
           <div class="row">
           <div class="col-xs-6">
            编辑的图片名称:<input type="text" value="{{currentEditImage.text}}">
               编辑的图片链接:<input #editImageUrlInput type="text" value="{{currentEditImage.image}}" >
           </div>
               <div class="col-xs-6">
                   图片预览:<img class="img-responsive" src="{{editImageUrlInput.value}}">
               </div>
           </div>

                </div>
            </div>
        </div>
    </div>
<!---->



<div class="row">
    <div class="col-xs-12">
        <carousel [interval]="myInterval" [noWrap]="noWrapSlides" >
            <slide *ngFor="let slidez of slides; let index=index"
                   [active]="slidez.active" class="banner-bg">
                       <img [src]="slidez.image" style="margin:auto;" class="img-responsive">

                <div class="carousel-caption">
                    <h4>Slide {{index}}</h4>

                    <p>{{slidez.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>

    <!--<div class="col-xs-12">-->
        <!--<button type="button" class="btn btn-info"-->
                <!--(click)="addSlide()">Add Slide-->
        <!--</button>-->
         <!--issue: removing currently active slide should not lead to white screen?-->
        <!--<button type="button" class="btn btn-info"-->
        <!--(click)="removeSlide(2)">Remove Slide#3-->
        <!--</button>-->
        <!--<br>-->

        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" [(ngModel)]="noWrapSlides">-->
                <!--Disable Slide Looping-->
            <!--</label>-->
        <!--</div>-->

        <!--Interval, in milliseconds: <input type="number" class="form-control" [(ngModel)]="myInterval">-->
        <!--<br/>Enter a negative number or 0 to stop the interval.-->
    <!--</div>-->
</div>