<!-- 模态框（Modal） -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                <h4 class="modal-title" id="myModalLabel">
                    添加图形
                </h4>
            </div>
            <div class="modal-body" style="margin-bottom: 26px;">
                <div class="row">
                    <ul class="nav nav-tabs col-xs-3">
                        <li class="active btn btn-info btn-block">
                            <a href="#shape-panel-shape" data-toggle="tab">
			 图形
		</a>
                        </li>
                        <li class="btn btn-info btn-block"><a href="#shape-panel-line" data-toggle="tab">线条</a></li>

                        <li class="btn btn-info btn-block"> <a href="#shape-panel-free" data-toggle="tab">自由元素 
		</a>

                        </li>
                    </ul>
                    <div class="tab-content col-xs-9">
                        <div class="tab-pane fade in active" id="shape-panel-shape">
                            <svg class="wqd-svg" style="display:block;width:80px;height:80px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" viewBox="0 0 500 576.5" xml:space="preserve">
                                <polygon fill="#4292CF" points="250.1,0 0.2,144.3 0.2,432.9 250.1,577.2 500,432.9 500,144.3 "> </polygon>
                            </svg>
                            <svg class="wqd-svg" style="display:block;width:35px;height:35px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
                                <path fill="#4292CF" d="M393.5,0H106.5C48,0,0,48,0,106.5v287.1C0,452,48,500,106.5,500h287.1c58.6,0,106.5-47.8,106.5-106.5V106.5C500,48,452,0,393.5,0z">
                                </path>
                            </svg>
                            <svg class="wqd-svg" style="display:block;width:35px;height:35px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 476.6" xml:space="preserve"> <path fill="#4292CF" d="M490.2,209.6c17.2-16.7,7.7-45.9-16-49.3l-122.1-17.7c-9.4-1.4-17.6-7.3-21.7-15.8L275.8,16.1c-10.6-21.5-41.3-21.5-51.9,0l-54.6,110.6c-4.2,8.6-12.4,14.4-21.7,15.8L25.5,160.2c-23.7,3.4-33.2,32.6-16,49.3l88.3,86c6.9,6.6,10,16.2,8.4,25.6L85.3,442.6c-4,23.7,20.7,41.6,42,30.5l109.1-57.4c8.5-4.5,18.5-4.5,26.9,0l109.1,57.4c21.3,11.2,46-6.9,42-30.5l-20.8-121.5c-1.6-9.4,1.5-19,8.4-25.6L490.2,209.6z"> </path> </svg>
                            <svg class="wqd-svg" style="display:block;width:35px;height:35px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434.59 376.37"> <polygon fill="#4292cf" points="217.29 0 0 376.37 434.59 376.37 217.29 0"> </polygon> </svg>

                        </div>
                        <div class="tab-pane fade" id="shape-panel-line">
                            <div class="line" style="border-top: 1px solid ;margin-top:20px"></div>
                            <div class="line" style="border-top: 1px dashed; margin-top:20px"></div>
                            <div class="line" style="border-top: 1px dotted ;margin-top:20px"></div>
                            
                            
                        </div>
                        <div class="tab-pane fade" id="shape-panel-free">
                            <div class="col-xs-3">
                                <div style="width:100px;height:100px;background-color:#4292cf;border-radius:30px">
                                </div>
                            </div>
                            
                            <div class="col-xs-3">
                                <div style="width:100px;height:100px;background-color:#4292CF;"></div>
                            </div>

                            <div class="col-xs-3">
                                <div style="width:100px;height:100px;background-color:#4292CF;border-radius: 50%;"></div>
                            </div>
                        </div>

                    </div>






                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>