<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#logo" aria-controls="home" role="tab" data-toggle="tab">Logo</a></li>
        <li role="presentation"><a href="#addPage" aria-controls="profile" role="tab" data-toggle="tab">添加页面</a></li>
        <li role="presentation"><a href="#editNav" aria-controls="messages" role="tab" data-toggle="tab">编辑导航</a></li>
        <li role="presentation"><a href="#navStyle" aria-controls="settings" role="tab" data-toggle="tab">切换样式</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="logo">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{nav.logo}}" alt="导航栏logo">
                        <div class="caption">
                            <input [(ngModel)]="nav.logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--添加导航页面-->
        <div role="tabpanel" class="tab-pane" id="addPage">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="新增页面" aria-describedby="basic-addon2" #newPageTitleInput>
                <span class="input-group-addon" id="basic-addon2" (click)="addPage({path:'add',title:newPageTitleInput.value,parts:[]})">添加</span>
            </div>
            <tale class="table table-hover">
                <tr>
                    <td>页面</td>
                    <td>管理</td>
                </tr>
                <tr *ngFor="let menu of nav.menuList">
                    <td>{{menu.title}}</td>
                    <td>{{menu.path}}</td>
                </tr>
            </tale>
        </div>



        <!--编辑导航-->
        <div role="tabpanel" class="tab-pane" id="editNav">
            <table class="table table-hover">
                  <tr *ngFor="let menu of nav.menuList">
                    <td>菜单名称:<input [(ngModel)]="menu.title"></td>
                       <td (click)="upPage(menu)">上移</td>
                    <td (click)="downPage(menu)">下移</td>
                    <td class="btn btn-danger" (click)="deletePage(menu)">销毁页面</td>
                 
                     </tr>
            </table>

        </div>
        <!--切换导航样式-->
        <div role="tabpanel" class="tab-pane" id="navStyle">...</div>

    </div>

</div>