<div class="container">

      <form class="form-signin" role="form">
        <h2 class="btn btn-info" (click)="goBack()">返回 </h2><h2 class="pull-right">登录</h2>
        <input type="text" class="form-control" placeholder="用户名" required autofocus #usernameInput>
        <input type="password" class="form-control" placeholder="密码" required #passwordInput1>
        <input type="password" class="form-control" placeholder="重复密码" required #passwordInput2>
		<button class="btn btn-lg btn-primary btn-block" (click)="signUp(usernameInput.value,passwordInput1.value)">注册</button>
      </form>

    </div> <!-- /container -->