
<div class="container-fluid">
    <button class="btn btn-danger" *ngIf="isEdit"  >编辑</button>
    <div class="service-content">
        <div class=" container">
            <div class="row">
                  <div class="col-xs-3">
                      <h1><strong>4563</strong></h1>
                      <h5>新增用户</h5>

                  </div>
                <div class="col-xs-3">
                    <h1><strong>45</strong></h1>
                    <h5>涉及行业</h5>

                </div>
                <div class="col-xs-3">
                    <h1><strong>56352</strong></h1>
                    <h5>经典案例</h5>

                </div>
                <div class="col-xs-3">
                    <h1><strong>10</strong></h1>
                    <h5>行业优势</h5>

                </div>
           </div>
       </div>

    </div>






</div>