<div class="container-fluid">
    <h3 class="serves-title">服务中心</h3>
    <div class="line service-content">


         <div class="col-sm-6">
             <h5><img src="http://9550175.s21i-9.faiusr.com/2/ABUIABACGAAgu5jwuQUogNOdigMwjAQ41gI.jpg" class="img-responsive center-block"> </h5>
         </div>
        <div class="col-sm-6">
            <h3>PC端推广</h3>
            <p>通过展示平台展示商家发布的活动，平台以多样式进行策划
                推广，吸引目标用户兴趣从而参与商家活动，通过链家将平
                台流量导入商家网站，实现精准有效的宣传与导流功能。
            </p>
        </div>

    </div>





</div>