/*.serves-title{background: #0f7595; color:#ffffff; padding: 6px 20px;}*/
/*.servicr-a{ margin-bottom: 30px;}*/
/*.service-content>div{min-height: 350px;}*/
/*.service-content p{padding:30px ; margin-bottom: 30px;}*/
/*.service-content h3{ margin-top:100px;}*/
.service-content{ background: url("http://attach.bbs.miui.com/forum/201502/22/142638tcugmcm2mcz7ng09.jpeg")  no-repeat;  width: 100%; height: 360px;}
/*.service-content>div{opacity: 0.4; background: #000;}*/
.service-content>div >div{ color: #fff; text-align: center; font-family:微软雅黑;}
.service-content>div >div h1{ margin-top: 35%; font-size: 40px; margin-bottom: 20px;}