  .sidebar-panel{
      position:fixed;
      top:0px;
      left:50px;
      height:100%;
      width:370px;
      background:#fff;
      z-Index:1100;
      border-right:1px solid #cccccc;
      border-top: 1px solid rgba(0, 0, 0, 0.14);
  }

  .sidebar-panel-header{
    position:fixed;
    height: 50px;
    font-size: 16px;
    line-height: 49px;
    border-bottom: 1px solid #ccc;
  }
  .sidebar-panel-header p {
      float:left;
      height:100%;
      margin-left:21px;
      color:rgb(51,51,51);
      line-height:49px;
  }







.panel-header{
    position:fixed;
    left:50px;
    height:50px;
    width:370px;
    zoom:1;
    border-bottom:1px solid #ccc;
}
.panel-header p{
    margin-left: 21px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: rgb(51,51,51);
    line-height: 50px;
}
.panel-header .remove{
    position: fixed;
    font-size: 30px;
    color: #9d9de6;
    cursor: pointer;
    left: 380px;
    top: 14px;
}

.panel-header .question{
    position: fixed;
    font-size: 30px;
    color: #9d9de6;
    cursor: pointer;
    left: 340px;
    top: 15px;
}

.panel-left {
    position:fixed;
    width:120px;
    height:100%;
    top:50px;
    left:50px;
    background: #2dbce6;
}
.panel-right{
    position:fixed;
    width:200px;
    left:170px;
    top:50px;
    height:100%;
    background-color: #fff;
}

.panel-table-li{
        width:100%;
}